
.wid {
    margin: auto;
    width: 400px;
    padding: 20px;
    background-color:#50C878
}
.functionality {
    text-align: center;
    padding-bottom: 20px;
}
.todoList {
    background-color : #765c48;
    padding: 20px;
    color: lemonchiffon;
}
button {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid green;
}
.buttons {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        font-size: 19px;
    }
    .wid {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .functionality{
        padding-top: 10px;
    }

}